# Dependencies
node_modules/

# Build output
dist/
dist-ssr/
src-tauri/target/

# Logs
*.log
npm-debug.log*

# IDE
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.*
*.local

# Tauri generated
src-tauri/gen/
